<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ci_scripts</key>
    <dict>
        <key>ci_post_clone</key>
        <dict>
            <key>script</key>
            <string>ci_post_clone_debug.sh</string>
            <key>name</key>
            <string>Debug Flutter Environment</string>
            <key>description</key>
            <string>Comprehensive debugging of Xcode Cloud Flutter environment</string>
        </dict>
    </dict>
</dict>
</plist>
