<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ci_scripts</key>
    <dict>
        <key>ci_post_clone</key>
        <dict>
            <key>script</key>
            <string>ci_post_clone.sh</string>
            <key>name</key>
            <string>Post-Clone Setup</string>
            <key>description</key>
            <string>Setup Flutter environment and dependencies</string>
        </dict>
        <key>ci_pre_xcodebuild</key>
        <dict>
            <key>script</key>
            <string>ci_pre_xcodebuild.sh</string>
            <key>name</key>
            <string>Pre-Build CocoaPods Setup</string>
            <key>description</key>
            <string>Handle CocoaPods manifest and framework files before build</string>
        </dict>
        <key>ci_post_xcodebuild</key>
        <dict>
            <key>script</key>
            <string>ci_post_xcodebuild.sh</string>
            <key>name</key>
            <string>Post-Build Verification</string>
            <key>description</key>
            <string>Verify build artifacts and file status</string>
        </dict>
    </dict>
</dict>
</plist>
